SECRET_KEY=your-secret-key-here
DEBUG=True
MONGO_DB_NAME=hospital_pms
MONGO_URI=mongodb://localhost:27017/hospital_pms
# For MongoDB Atlas:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/hospital_pms
